{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block contenu %}
{% for entreprise in entreprises %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{entreprise.id}}" aria-expanded="false" aria-controls="collapse{{entreprise.id}}">
          {{ entreprise.nom }}
        </button>
      </h2>
    </div>

    <div id="collapse{{entreprise.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        
        Adresse : {{ entreprise.adresse }} </br>
        Activité : {{ entreprise.activite }} </br>
        Site : {{ entreprise.site }} </br> </br>
        
        <a class="btn btn-primary" href='{{path('prostages_entreprise',{id:entreprise.id})}}' role="button">Voir les stages</a>
      
      </div>
    </div>
  </div>
    {% endfor %}
{% endblock %}